# Скопируй в .env и заполни.

POSTGRES_DB=livedesk_db
POSTGRES_USER=livedesk
POSTGRES_PASSWORD=

REDIS_HOST=redis
REDIS_PORT=6379

PRESENCE_GRPC_HOST=presence-service
PRESENCE_GRPC_PORT=9090

JWT_SECRET=
